.userList {}

.userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    &:hover {
        border-bottom: 1px solid grey;
    }
}

.auth {
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
}

.logged {
    background: green;
}

.logedOut {
    background: red;
}